<nav class="navbar navbar-light bg-light">
  <%= link_to t('nav.header'), root_path, class: "navbar-brand ms-3" %>
  <div class="navbar-text me-3">
    <%= t('nav.welcome_html', user_email: current_user.email) %>
    <span class="badge bg-primary">
      <%= link_to t('nav.logout'), destroy_user_session_path,
                                   class:"nav nav-link link-light",
                                   method: :delete,
                                   data: {confirm: t('nav.confirm')} %>
    </span>
  </div>
</nav>
