  <% if recourse.errors.present? %>
    <div>
      <h2><%= pluralize(recourse.errors.count, 'error') %> detected:</h2>
      <ul>
        <% recourse.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

