<footer>
  <div>
    <nav>
      <p>
        <%= current_year  %>
        &copyNikolay
        <%= link_to 'TestGuru', github_url('Nikolaytk87', 'test-guru'), target: "_blank", rel:'noopener nofollow' %>
      </p>
      <p>Programming Language Quizzes</p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', "https://thinknetica.com/",
        target: "_blank", rel:'noopener nofollow' %>
    </nav>
  </div>
</footer>
