<footer class="mt-auto text-center text-lg-start bg-light text-muted">
  <div class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <p>
      <%= current_year  %>
      &copyNikolay
      <%= github_url(author: 'Nikolaytk87', repo: 'test-guru', title:  t('footer.title')) %>
    </p>
    <p><%= t('footer.appointment') %></p>
    <%= link_to t('footer.project'), "https://thinknetica.com/",
              target: "_blank", rel:'noopener nofollow' %>
  </div>
</footer>
