<footer>
  <div>
    <nav>
      <p>
        <%= current_year  %>
        &copyNikolay
        <%= github_url(author: 'Nikolaytk87', repo: 'test-guru', title: 'TestGuru') %>
      </p>
      <p>Programming Language Quizzes</p>
      <%= link_to 'Учебный проект в онлайн-школе Thinknetica', "https://thinknetica.com/",
        target: "_blank", rel:'noopener nofollow' %>
    </nav>
  </div>
</footer>
