<% if test.questions.presence %>
  <tr class="table-light border-info">
    <td><%= test.title %></td>
    <td><%= number_of_questions(test) %></td>
    <td><%= test.level %></td>
    <td><%= button_to t('label.start'), start_test_path(test) %></td>
  </tr>
<% end %>
